html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222222;
  color: #F3EFE0;
}

#Title {
  text-decoration: none;
  font-size: 30px;
  align-content: left;
  margin: 10px 0px 10px 10px;
  color: #22A39F;
}

ul {
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
  margin: 0;
  padding: 0;
  position: fixed;
  list-style-type: none;
  overflow: hidden;
  background-color: #292828;
}

.Navbar {
  margin: 20px 0px 10px 10px;
}

li {
  float: left;
}

li a {
  background-color: #292828;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  opacity: 0.6;
  transition: 0.3s;
}

li a:hover {
  border-radius: 10px;
  background-color: black;
  color: white;
}

#Title_Of_Project {
  color: #146e6b;
  font-size: 50px;
  margin-top: 250px;
}

#Link_Of_Title {
  color: #222222;
}

#Link_Of_About {
  color: #222222;
  margin-bottom: 300px;
}

#About {
  color: #146e6b;
}

#Link_Of_Aim {
  color: #222222;
  margin-bottom: 300px;
}

#Aim {
  color: #146e6b;
}

#Link_Of_Purpose {
  color: #222222;
  margin-bottom: 300px;
}

#Purpose {
  color: #146e6b;
}

#Purpose_volaroid {
  margin-bottom: 300px;
}
.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #CA4246;
  background-color: #CA4246;
  font-size: 30px;
  background: conic-gradient(
 
   
    #6d3838 33.333%, 
    #d88d53 33.333%, 
    #146e6b 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #b390ae 83.333%);
  
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
  big-text{
   
    font-size: 300px;
  }
}
